<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Page d'Accueil {% endblock %} </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'page.css' %}">
</head>
<body>
<nav>
<ul class="liens">
<li><img src=""></li>    
<li><a href="/musique/"><strong>Accueil</strong></a></li>
<li><a><strong>|</strong></a></li>
<li><a href="/musique/ajout"><strong> Ajouter une musique</strong></a></li>
<li><a href="/musique/ajout2"><strong> Ajouter un album</strong></a></li>
<li><a><strong>|</strong></a></li>
<li><a href="/musique/affichage"><strong> Musique crée</strong></a></li>
<li><a href="/musique/affichage2"><strong> Album crée</strong></a></li>
</ul>
</nav>
{% block content %}Page d'Accueil {% endblock %}
</body>
</html>